<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/managers">Managers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/branchs">Branches</a>
    </li>
    <li class="nav-item">
      <input class="form-control border-end-0 border rounded-pill" type="text" value="search" id="example-search-input">
    </li>
  </ul>
  {% block content %}
  {% for man in managers %}
  <div class="row">
      <h6><center>{{man.name}}</center></h6>
  </div>
   <li>Primary: {{man.m_phone}}</li><li>Branch: {{man.branch}}</li></br>
{% endfor %}
  {% endblock %}
</div>
</body>
</html>
